.mainPlaylistContainer {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: space-between;
  position: absolute;
  color: white;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 305px;
}

.playlistBtnContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.playlistBtn {
  display: flex;
  color: white;
  flex-direction: row;
  font-family: Arial;
  font-weight: bold;
}
.playlistBtn:hover {
  cursor: pointer;
}
.playlistBtnIcon {
  box-sizing: border-box;
  margin-right: 2px;
  width: 20px;
  height: 15px;
  background-image: url("../../../public/img/up-arrow-icon.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

.playlistInputContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 10px;
}
.playlistInput {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: transparent;
  padding-left: 10px;
  height: 30px;
  width: 100%;
  color: white;
}
.playlistCloseIcon {
  width: 25px;
  margin-right: 5px;
  /* height: 25px; */
  background-image: url("../../../public/img/close-icon.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.playlistCloseIcon:hover {
  cursor: pointer;
}
.playlistInput:focus {
  outline: none;
}

.playlistItemTitle {
  margin-top: 10px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}
.playlistItemName {
  font-size: 12px;
  font-style: italic;
  margin-top: 4px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid grey; */
  padding-left: 10px;
  text-align: right;
  padding-right: 15px;
}
#index0 {
  color: #909090;
  animation: playlistTitle 10s linear infinite;
}
.infoIcon {
  position: absolute;
  right: 13px;
  bottom: 13px;
  width: 26px;
  height: 26px;
  background-image: url("../../../public/img/info-icon.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.infoIconText {
  display: none;
  position: absolute;
  width: 300px px;
  bottom: 32px;
  right: -20px;
  font-size: small;
}
.infoIcon:hover .infoIconText {
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  width: 300px;
}
