.container {
  box-sizing: border-box;
  background-color: #282c34;
  height: 100vh;
  /* min-height: 100vh; */
  /* display: flex; */
}
.mainPageAudioTitle {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.mainPageAudioTitle::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.audioTitle {
  position: relative;
  animation: audioTitle 15s linear infinite;
}

@keyframes audioTitle {
  0% {
    left: 100%;
  }

  100% {
    left: -300%;
  }
}
